pytest==7.1.2
pylint==2.15.0
black==23.7.0
pandas==2.0.3
numpy==1.26.2
streamlit==1.25.0  # Ajoute Streamlit
matplotlib==3.8.0  # Pour les graphiques
seaborn==0.12.2    # Pour la visualisation, optionnel
shap==0.41.0       # Pour les valeurs SHAP
plotly==5.17.0     # Pour les graphiques interactifs
scikit-learn==1.3.1  # Pour la normalisation et les modèles
altair==5.1.0 # pour des visualisations supplémentaires avec Streamlit
scipy==1.11.2 # pour fonctions supplémentaires de numpy
requests==2.31.0 # pour des appels API
pyyaml==6.0.1 # pour des configurations avec des fichiers YAML